body {
    margin: 0;
    font-family: Monaco, Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

*{
    font-family: Monaco, monospace;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #323E4FFF;
    color: white;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right {
    margin-left: 200px;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

.intro1, .intro2 {
    display: grid; /* Use Grid for centering */
    place-items: center; /* Center content horizontally and vertically */
    height: 400px;
    width: 100%;
    text-align: center;
}

.intro1 {
    background: linear-gradient(rgb(8, 8, 16, 0.60), rgba(8, 8, 16, 0.60)), url('photos/Background1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro2 {
    background: linear-gradient(rgb(8, 8, 16, 0.60), rgba(8, 8, 16, 0.60)), url('photos/nether.png');
    background-repeat: repeat;
    background-position: -15px;
    background-size: cover;
}

.intro1 h1, .intro1 p, .intro2 h1, .intro2 p {
    margin: 0; /* Reset margins */
    text-align: center; /* Ensure text is centered */
    color: white;
}

.intro1 h1, .intro2 h1 {
    color: white;
}

.intro1 p, .intro2 p {
    color: lightgrey;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: darkcyan;
}

.left img {
    width: 200px;
    height: 200px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: mediumpurple;
    background-color: transparent;
    text-decoration: underline;
}

a.active {
    color: cadetblue;
    background-color: transparent;
    text-decoration: underline;
}

.Header {
    text-align: center;
    text-decoration-color: cadetblue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.Content {
    margin: auto;
    text-align: center;
}